#Tableau_01 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1200px;
	height: 675px;
	border-radius: 20px;
	overflow: hidden;
	border: solid 5px deeppink;
}

#id1_ {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1200px;
	height: 69px;
}

#id2_ {
	position: absolute;
	left: 0px;
	top: 69px;
	width: 494px;
	height: 24px;
}

#id3_ {
	position: absolute;
	left: 494px;
	top: 69px;
	width: 116px;
	height: 107px;
}

#id4_ {
	position: absolute;
	left: 610px;
	top: 69px;
	width: 590px;
	height: 49px;
}

#id5_ {
	position: absolute;
	left: 0px;
	top: 93px;
	width: 154px;
	height: 346px;
}

#id6_ {
	position: absolute;
	left: 154px;
	top: 93px;
	width: 285px;
	height: 195px;
}

#id7_ {
	position: absolute;
	left: 439px;
	top: 93px;
	width: 55px;
	height: 245px;
}

#id8_ {
	position: absolute;
	left: 610px;
	top: 118px;
	width: 466px;
	height: 206px;
}

#id9_ {
	position: absolute;
	left: 1076px;
	top: 118px;
	width: 124px;
	height: 136px;
}

#id10_ {
	position: absolute;
	left: 494px;
	top: 176px;
	width: 116px;
	height: 215px;
}

#id11_ {
	position: absolute;
	left: 1076px;
	top: 254px;
	width: 124px;
	height: 421px;
}

#id12_ {
	position: absolute;
	left: 154px;
	top: 288px;
	width: 285px;
	height: 36px;
}

#id13_ {
	position: absolute;
	left: 154px;
	top: 324px;
	width: 99px;
	height: 351px;
}

#id14_ {
	position: absolute;
	left: 253px;
	top: 324px;
	width: 85px;
	height: 115px;
}

#id15_ {
	position: absolute;
	left: 338px;
	top: 324px;
	width: 39px;
	height: 80px;
}

#id16_ {
	position: absolute;
	left: 377px;
	top: 324px;
	width: 62px;
	height: 10px;
}

#id17_ {
	position: absolute;
	left: 610px;
	top: 324px;
	width: 65px;
	height: 67px;
}

#id18_ {
	position: absolute;
	left: 675px;
	top: 324px;
	width: 69px;
	height: 67px;
}

#id19_ {
	position: absolute;
	left: 744px;
	top: 324px;
	width: 332px;
	height: 14px;
}

#id20_ {
	position: absolute;
	left: 377px;
	top: 334px;
	width: 62px;
	height: 42px;
}

#id21_ {
	position: absolute;
	left: 439px;
	top: 338px;
	width: 9px;
	height: 38px;
}

#id22_ {
	position: absolute;
	left: 448px;
	top: 338px;
	width: 40px;
	height: 38px;
}

#id23_ {
	position: absolute;
	left: 488px;
	top: 338px;
	width: 6px;
	height: 101px;
}

#id24_ {
	position: absolute;
	left: 744px;
	top: 338px;
	width: 21px;
	height: 337px;
}

#id25_ {
	position: absolute;
	left: 765px;
	top: 338px;
	width: 71px;
	height: 85px;
}

#id26_ {
	position: absolute;
	left: 836px;
	top: 338px;
	width: 68px;
	height: 85px;
}

#id27_ {
	position: absolute;
	left: 904px;
	top: 338px;
	width: 79px;
	height: 66px;
}

#id28_ {
	position: absolute;
	left: 983px;
	top: 338px;
	width: 66px;
	height: 66px;
}

#id29_ {
	position: absolute;
	left: 1049px;
	top: 338px;
	width: 27px;
	height: 337px;
}

#id30_ {
	position: absolute;
	left: 377px;
	top: 376px;
	width: 39px;
	height: 28px;
}

#id31_ {
	position: absolute;
	left: 416px;
	top: 376px;
	width: 45px;
	height: 72px;
}

#id32_ {
	position: absolute;
	left: 461px;
	top: 376px;
	width: 27px;
	height: 63px;
}

#id33_ {
	position: absolute;
	left: 494px;
	top: 391px;
	width: 92px;
	height: 48px;
}

#id34_ {
	position: absolute;
	left: 586px;
	top: 391px;
	width: 43px;
	height: 82px;
}

#id35_ {
	position: absolute;
	left: 629px;
	top: 391px;
	width: 69px;
	height: 82px;
}

#id36_ {
	position: absolute;
	left: 698px;
	top: 391px;
	width: 46px;
	height: 284px;
}

#id37_ {
	position: absolute;
	left: 338px;
	top: 404px;
	width: 78px;
	height: 127px;
}

#id38_ {
	position: absolute;
	left: 904px;
	top: 404px;
	width: 45px;
	height: 271px;
}

#id39_ {
	position: absolute;
	left: 949px;
	top: 404px;
	width: 85px;
	height: 95px;
}

#id40_ {
	position: absolute;
	left: 1034px;
	top: 404px;
	width: 15px;
	height: 271px;
}

#id41_ {
	position: absolute;
	left: 765px;
	top: 423px;
	width: 139px;
	height: 252px;
}

#id42_ {
	position: absolute;
	left: 0px;
	top: 439px;
	width: 25px;
	height: 236px;
}

#id43_ {
	position: absolute;
	left: 25px;
	top: 439px;
	width: 93px;
	height: 122px;
}

#id44_ {
	position: absolute;
	left: 118px;
	top: 439px;
	width: 36px;
	height: 236px;
}

#id45_ {
	position: absolute;
	left: 253px;
	top: 439px;
	width: 85px;
	height: 236px;
}

#id46_ {
	position: absolute;
	left: 461px;
	top: 439px;
	width: 52px;
	height: 92px;
}

#id47_ {
	position: absolute;
	left: 513px;
	top: 439px;
	width: 12px;
	height: 236px;
}

#id48_ {
	position: absolute;
	left: 525px;
	top: 439px;
	width: 61px;
	height: 92px;
}

#id49_ {
	position: absolute;
	left: 416px;
	top: 448px;
	width: 45px;
	height: 83px;
}

#id50_ {
	position: absolute;
	left: 586px;
	top: 473px;
	width: 112px;
	height: 202px;
}

#id51_ {
	position: absolute;
	left: 949px;
	top: 499px;
	width: 85px;
	height: 176px;
}

#id52_ {
	position: absolute;
	left: 338px;
	top: 531px;
	width: 39px;
	height: 144px;
}

#id53_ {
	position: absolute;
	left: 377px;
	top: 531px;
	width: 84px;
	height: 112px;
}

#id54_ {
	position: absolute;
	left: 461px;
	top: 531px;
	width: 52px;
	height: 144px;
}

#id55_ {
	position: absolute;
	left: 525px;
	top: 531px;
	width: 61px;
	height: 144px;
}

#id56_ {
	position: absolute;
	left: 25px;
	top: 561px;
	width: 93px;
	height: 114px;
}

#id57_ {
	position: absolute;
	left: 377px;
	top: 643px;
	width: 84px;
	height: 32px;
}
