body,
html {
	margin: 0;
	padding: 0;
	color: #f7f3f0;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.modal {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
	animation: fadeIn 0.5s both;
	z-index: 10;
}

.modal-wrapper {
	overflow: auto;
	width: 60%;
	height: 500px;
	max-width: calc(100vw - 20px);
	max-height: calc(100vh - 20px);
	background-image: url("tableauNoir.jpg");
	background-repeat: no-repeat;
	animation: slideFromTop 0.5s both;
	border: 10px solid #cd6a1c;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes slideFromTop {
	from {
		transform: translateY(-90px);
	}
	to {
		transform: translateY(0px);
	}
}

.js-modal {
	/* font-size : 40px;
    color : blue;
    margin : 20px 40px; */
	text-decoration: none;
}

/**********Layout inside the modal**********/

.div_buttonClose,
.div_buttonPlay {
	width: 100%;
	height: 100px;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-end;
	align-items: center;
}

.buttonClose {
	width: 30px;
	height: 30px;
	font-size: 1em;
	margin-right: 30px;
}

.form_main {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-around;
	align-items: center;
	font-size: 2em;
	width: 100%;
	height: 800px;
}

.form_h1 {
	width: 100%;
	height: 80px;
}

.form_container {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 280px;
}

.button_play {
	height: 40px;
	width: 20%;
	margin-bottom: 60px;
	background-color: #cd6a1c;
	opacity: 0.7;
	border-radius: 60px;
	font-size: 2em;
	color: #f7f3f0;
}

.div_buttonPlay {
	width: 100%;
	height: 70px;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}

.form_player1,
.form_player2 {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
	width: 50%;
	height: 250px;
}

.div_fieldset {
	text-align: center;
	width: 310px;
	height: 150px;
	margin-top: 20px;
}

fieldset {
	width: 310px;
	font-size: 1em;
}

.input_user {
	background-color: rgba(0, 0, 0, 0.5);
	border-bottom: 2px solid #f7f3f0;
	border-top: none;
	border-left: none;
	border-right: none;
	width: 70%;
	height: 50px;
	font-size: 1em;
	color: #f7f3f0;
}

legend {
	width: 300px;
	padding: 0;
	text-align: center;
}
.open_modal {
	cursor: pointer;
}
@media only screen and (max-width: 961px) {
	.form_container {
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		align-items: center;
		margin: 0;
		padding: 0;
		width: 100%;
		height: 520px;
	}

	.div_fieldset {
		text-align: center;
		width: 310px;
		height: 150px;
		margin-top: 20px;
	}

	.div_buttonPlay {
		width: 100%;
		height: 70px;
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		align-items: center;
	}

	.form_h1 {
		width: 100%;
		height: 90px;
	}
}
