body {
	background-color: #9dd646;
	background-image: url("https://www.transparenttextures.com/patterns/60-lines.png"); /* font-family: "Mansalva", cursive; */
	/* font-family: "Indie Flower", cursive; */
	font-family: "Gloria Hallelujah", cursive;
}
h1 {
	color: white;
	font-size: 50px;
	padding: 0;
	margin: 0;
	text-align: center;
}
.container {
	width: 1200px;
	margin: 10px auto;
	position: relative;
	padding: 0;
	background-color: greenyellow;
}
